<a href="https://colab.research.google.com/github/alanfmorato/analyzing_movies/blob/main/Analisando_Reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
#Carregando o Dataset
df = pd.read_csv('/content/ratings.csv')

In [ ]:
#verificando as 5 primeiras linhas do dataset
df.head()

   userId  movieId  rating    timestamp
0       1        1     4.0  964982703.0
1       1        3     4.0  964981247.0
2       1        6     4.0  964982224.0
3       1       47     5.0  964983815.0
4       1       50     5.0  964982931.0

In [ ]:
#Verificando o tamanho do dataset linhasxcolunas
df.shape

(43084, 4)

In [ ]:
#verificando quais valores existem dentro da coluna rating
df['rating'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [ ]:
#verificando quantas vezes aparece cada valor
df['rating'].value_counts()

4.0    11781
3.0     8533
5.0     6093
3.5     5408
4.5     4055
2.0     3085
2.5     1990
1.0     1131
1.5      535
0.5      473
Name: rating, dtype: int64

In [ ]:
#verificando a média de notas
df['rating'].mean()

3.5669506081143814